<% provide :title, t(".title") %>
<p>
  The <a href="<%= t "url_tut" %>"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href="<%= t "url_book" %>">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="<%= t "rails_tut" %>">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>
