<h1><%= t "email.reset" %></h1>
<p><%= t "email.reset_text" %></p>
<%= link_to t("email.reset_password"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>
<p><%= t "email.content_text" %></p>
